.ocultar{
    display: none;
}

.mostrar{
    display: block;
}
.main-musica{
    
    display: flex;
    flex-wrap: wrap;
}
.musica{
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: space-around;
    background-color: aqua;
    max-width: min-content;
    flex-direction: row;
}

.img-musica{
    width: 230px;
    height: 230px;
    margin: 20px;
    border-radius: 28px;
}
.section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}