.musica{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 97%;
    margin-bottom: 50px;
    margin-left: 23px;
    justify-content: space-around;
    background-color: aqua;
}

.img-musica{
    width: 230px;
    height: 230px;
    margin: 20px;
    border-radius: 28px;
}